<?php /** @var umiTemplaterPHP $this */ ?>
<?php /** @var array $variables */ ?>

<form action="<?= $variables['purchasing']['formAction'] ?>" method="post">
	<input type="hidden" name="eshopId" value="<?= $variables['purchasing']['eshopId'] ?>" />
	<input type="hidden" name="orderId"	value="<?= $variables['purchasing']['orderId'] ?>" />
	<input type="hidden" name="serviceName" value="<?= $variables['purchasing']['serviceName'] ?>" />
	<input type="hidden" name="recipientAmount"	value="<?= $variables['purchasing']['recipientAmount'] ?>" />
	<input type="hidden" name="recipientCurrency" value="<?= $variables['purchasing']['recipientCurrency'] ?>" />
	<input type="hidden" name="user_email" value="<?= $variables['purchasing']['user_email'] ?>" />
	<input type="hidden" name="holdMode" value="<?= $variables['purchasing']['holdMode'] ?>" />
	<input type="hidden" name="expireDate" value="<?= $variables['purchasing']['expireDate'] ?>" />
	<input type="hidden" name="hash" value="<?= $variables['purchasing']['hash'] ?>" />

	<div>
		<?= $this->translate('payment-redirect-text') ?> IntellectMoney.
	</div>

	<div>
		<input type="submit" value="<?= $this->translate('pay') ?>" class="button big"/>
	</div>
</form>
<script src="js/payment/send_form_immediately.js"></script>
